/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}


.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
}
.ex-2-square{
  transition: 5s;
}
.ex-2-square:active{
  width: 80%;
}

.ex-3-square{
  width: 100px;
  height: 100px;
  background: red;
}
.ex-3-square{
  transition: 4s;
}
.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
}
.ex-4-square{
  transition: 3s;
}
.ex-4-square:hover{
  opacity: 0;
}