/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}


.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
}
.ex-2-square{
  transition: 5s;
}
.ex-2-square:active{
  width: 80%;
}

.ex-3-square{
  width: 100px;
  height: 100px;
  background: red;
}
.ex-3-square{
  transition: 4s;
}
.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
}
.ex-4-square{
  transition: 3s;
}
.ex-4-square:hover{
  opacity: 0;
}


.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
}
.ex-5-square{
  transition: 3s;
}
.ex-5-square:hover{
  width: 150px;
  height: 150px;
}
.ex-5-square:active{
  width: 20px;
  height: 20px;
}
.ex-6-img, .ex-7-img, .ex-8-img {
  width: 500px;
  transition: 3s;
}
.ex-6-img{
  transition:0s; 
} 
.ex-6-img:hover{
  filter: grayscale(1);
}

.ex-7-img{
  transition: 5s;
}
.ex-7-img:hover{
  filter: brightness(0.25) invert(1);
}
